<template>
  <div class="home">
    <sub-bar-component></sub-bar-component>
    <b-container fluid>
      <b-row>
        <b-col cols="3">
          <side-nav-component></side-nav-component>
        </b-col>
        <b-col cols="9">
          <wine-list></wine-list>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src
import WineList from "@/components/Wines/WineList.vue";
import SideNavComponent from "@/components/common/SideNav.vue";
import SubBarComponent from "@/components/common/SubBar.vue";

export default {
  name: "home",
  components: { WineList, SideNavComponent, SubBarComponent }
};
</script>
