<template>
  <div>
    <b-navbar class="shadow-sm" toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="#">{{ title }}</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav right>
        <b-navbar-nav> </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="https://www.saq.com" target="_blank">{{
            SQAWebsite
          }}</b-nav-item>
          <b-nav-item-dropdown text="Language" right>
            <b-dropdown-item href="#">{{ english }}</b-dropdown-item>
            <b-dropdown-item href="#">{{ french }}</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import Messages from "@/commons/Messages";
/**
 * Global header component
 */
export default {
  name: "HeaderComponent",
  data() {
    return { ...Messages };
  }
};
</script>

<style></style>
