<template>
  <b-container fluid="md" class="card-list-container mt-4">
    <b-row>
      <b-col cols="3" v-for="wine in wines" :key="wine.uniqueId">
        <wine-card :card-info="wine"></wine-card>
      </b-col>
    </b-row>
    <div class="d-flex justify-content-center">
      <pagination-component></pagination-component>
    </div>
  </b-container>
</template>

<script>
// Fetching and rendering the list of wines and alchohol
import WineCard from "@/components/Wines/WineCard";
import SearchServide from "@/services/search.service";
import SearchService from "../../services/search.service";
import PaginationComponent from "@/components/common/pagination.vue";
export default {
  name: "WineListComponent",
  data() {
    return {
      data: []
    };
  },
  components: { WineCard, PaginationComponent },
  mixins: [],
  mounted() {
    this.getResults();
    this.$eventHub.$on("searchUpdate", val => this.getResults(val));
  },
  methods: {
    async getResults(query) {
      const data = await SearchService.findWines(query);
      this.wines = data.results;
    }
  },
  computed: {
    wines: {
      get() {
        return this.data;
      },
      set(data) {
        this.data = data;
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>>
