<template>
  <div>
    <b-card
      :title="cardInfo.title"
      :img-src="cardInfo.raw.tpthumbnailuri"
      img-alt="cardInfo.printableUril"
      img-top
      tag="article"
      style="max-width: 20rem;"
      class="mb-2 p-2"
      v-if="cardInfo"
    >
      <b-card-text class="overflow-auto">
        <span class="badge"
          ><b-icon-heart-fill></b-icon-heart-fill> {{ cardInfo.percentScore }} %
        </span>
        <span class="badge badge-warning"
          >price: ${{ cardInfo.raw.tpprixnum }}</span
        >
      </b-card-text>
      <a
        v-bind:href="cardInfo.clickUri"
        target="_blank"
        class="card-link badge badge-primary"
      >
        {{ learnMore }}
      </a>
    </b-card>
  </div>
</template>

<script>
import Messages from "../../commons/Messages";

export default {
  name: "WineCardComponent",
  data() {
    // JS Spread to use all the message a data inputs to this view
    return { ...Messages };
  },
  props: {
    cardInfo: {
      type: Object,
      required: false,
      default: () => ({})
    }
  }
};
</script>

<style lang="scss" scoped></style>>
