<template>
  <div class="d-flex input-control justify-content-center" id="SearchControl">
    <b-form-input v-model="text" placeholder="Search"></b-form-input>
  </div>
</template>

<script>
import _ from "lodash";

/**
 * Basic search component to run a query and fetch the result based on the search
 */
export default {
  name: "SearchComponent",
  data() {
    return {
      text: ""
    };
  },
  methods: {
    updateInput: _.debounce(function(e) {
      this.$eventHub.$emit("searchUpdate", this.text);
    }, 500)
  },
  watch: {
    text(val) {
      this.updateInput();
    }
  }
};
</script>

<style lang="scss" scoped></style>
