<template>
  <ul class="nav list-group list-group-flush">
    <li
      class="nav-item list-group-item"
      @click="updateResult('Bi%C3%A8re%20rousse')"
    >
      <a href="#" class="nav-link active">{{ amberAles }}</a>
    </li>
    <li class="nav-item list-group-item">
      <a href="#" class="nav-link" @click="updateResult('@tpprixnum%3C10')">{{
        beerUnder10
      }}</a>
    </li>
    <li class="nav-item list-group-item">
      <a
        href="#"
        class="nav-link"
        @click="updateResult('@tpcepagenomsplitgroup==Merlot')"
        >{{ merlot }}</a
      >
    </li>
  </ul>
</template>

<script>
import Messages from "../../commons/Messages";
/**
 * Side navigation bar to filter the results
 */
export default {
  name: "SideNavComponent",
  data() {
    return { ...Messages };
  },
  methods: {
    updateResult(val) {
      this.$eventHub.$emit("searchUpdate", val);
    }
  }
};
</script>

<style></style>
