<template>
  <b-container class="subbar-container bg-secondary p-2" fluid="xs">
    <b-row>
      <b-col> <search-component></search-component></b-col></b-row
  ></b-container>
</template>

<script>
import SearchComponent from "@/components/common/SearchComponent.vue";
/**
 * Wrapper for search and future other components
 */
export default {
  name: "SubBarComponent",
  components: { SearchComponent }
};
</script>
