<template>
  <div id="app">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <HeaderComponent></HeaderComponent>
    <loader-component v-if="isLoading"></loader-component>
    <router-view />
  </div>
</template>

<script lang="ts">
// Importing various required components
import Vue from "vue";
import LoaderComponent from "@/components/common/LoaderComponent.vue";
import HeaderComponent from "@/components/AppNavigation/HeaderComponent.vue";

import axios from "axios";

export default Vue.extend({
  name: "app",
  components: {
    LoaderComponent,
    HeaderComponent
  },
  mounted() {},
  data() {
    // @Todo item to be used for global data loading
    return { isLoading: false };
  }
});
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
